<%if user_signed_in?%>
<h1>Date of drives</h1>
<%= link_to "01-01-2001", date_path("2001-01-01")%>
<%= link_to "02-01-2001", date_path("2001-01-02")%>
<%= link_to "03-01-2001", date_path("03-01-2001")%>
<%= link_to "all_user_list", detail_path%>
<%end%>